<div class="col-group">
  <div class="col-14 results">
    <div class="paginator">
      <a href="javascript:prev_page()">&lt;</a>&nbsp;<a href="javascript:next_page()">&gt;</a>
    </div>
    {{#each hits}}
    <div>
      <h2>
        <a target="_blank" href="https://gateway.ipfs.io/ipfs/{{hash}}">
          <img height="24" width="24" src="assets/{{type}}.svg">
          {{{ title }}}
        </a>
      </h2>
      {{#if description}}
        <p>{{{description}}}</p>
      {{/if}}
      <div>{{ size }} bytes</div>
    </div>
    {{/each}}
    <div class="paginator">
      <a href="javascript:prev_page()">&lt;</a>&nbsp;<a href="javascript:next_page()">&gt;</a>
    </div>
  </div>
</div>
